<div>
  <h2>Inventarliste</h2>

  @if(animals.isLoading()){
    <div class="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  }
  <table [hidden]="animals.isLoading()">
        <thead>
        <tr>
          <th>
            <span>
              Name
            </span>
            <app-order-by-button field="name" (order)="nameOrder.set($event)"></app-order-by-button>
          </th>
          <th>
            <span>
              Gewicht
            </span>
            <app-order-by-button field="weight" (order)="weightOrder.set($event)"></app-order-by-button>
          </th>
          <th>
            <span>
              Superpower
            </span>
          </th>
          <th>
            <span>
              Ausgesorben seit
            </span>
            <app-order-by-button field="extinct_since" (order)="extinctSinceOrder.set($event)"></app-order-by-button>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for( animal of animals.value(); track animal.id){
            <tr>
              <td>{{ animal.name }}</td>
              <td>{{ animal.weight }}</td>
              <td>{{ animal.superPower }}</td>
              <td>{{ animal.extinctSince }}</td>
              <td class="actions">
                <button
                  class="primary-button"
                  (click)=showModelModal(animal)
                  [disabled]="!animal.model"
                >Model</button>
                <a
                  class="secondary-button"
                  [routerLink]="['edit', animal.id]"
                > Bearbeiten </a>
                <button
                  class="secondary-button"
                  (click)=deleteAnimal(animal)
                >Löschen</button>
              </td>
            </tr>
          }
        </tbody>
  </table>

  @if(modelUrl){
    <app-modal
      title="Modell"
      (close)="hideModelModal()"
    >
      <app-model [path]="modelUrl" [width]="500" [height]="500"/>
    </app-modal>
  }
  @if(animalToDelete){
    <app-modal
      title="Tier Löschen"
      (close)="onDeleteConfirmClosed($event)"
      closeText="Löschen"
      dismissText="Abbrechen"
    >
      <p>
        Soll {{ animalToDelete.name }} wirklich gelöscht werden?
      </p>
    </app-modal>
  }

  <div class="button-container">
    <a class="add-button" [routerLink]="['new']">
      <span>+</span>
    </a>
  </div>
</div>
