<div>
  <h2>Inventarliste</h2>

  @if(animals.isLoading()){
    <div class="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  } @else {
    <app-output-table
      (onShowModelClick)="showModelModal($event)"
      (onDeleteAnimalClicked)="deleteAnimal($event)"
      [data]="animals.value()"></app-output-table>
  }

  @if(modelUrl){
    <app-modal
      title="Modell"
      (close)="hideModelModal()"
    >
      <app-model [path]="modelUrl" [width]="500" [height]="500"/>
    </app-modal>
  }
  @if(animalToDelete){
    <app-modal
      title="Tier Löschen"
      (close)="onDeleteConfirmClosed($event)"
      closeText="Löschen"
      dismissText="Abbrechen"
    >
      <p>
        Soll {{ animalToDelete.name }} wirklich gelöscht werden?
      </p>
    </app-modal>
  }

  <div class="button-container">
    <a class="add-button" [routerLink]="['new']">
      <span>+</span>
    </a>
  </div>
</div>
