@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

body {


  --color-primary: #154431;
  --color-highlight: #005b41;
  --color-alert: #82AA20;
  --color-black: #050505;
  --color-white: #FAFAFA;
  --color-white-off: #DEE7E7FF;

  --font-size-huge: 3rem;
  --font-size-big: 2rem;
  --font-size-small: .75rem;
  --font-size-normal: 1rem;

  --button-borer-radius: 8px;

  margin: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;

  color: var(--color-primary);
}


h1 {
  color: var(--color-highlight);
}

p {
  color: var(--color-primary);
}

input {
  border-color: transparent;
}

a {
  text-decoration: navajowhite;
}

.primary-button, .secondary-button {
  font-weight: 500;
  font-size: var(--font-size-normal);
  padding: 0.7em 1.4em 0.7em 1.1em;
  border: none;
  letter-spacing: 0.05em;
  border-radius: var(--button-borer-radius);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: scale 0.1s linear, color 0.1s linear;
  color: var(--text-color, var(--color-primary));
  &:hover {
    scale: 1.05;
  }
}

.primary-button {
  --text-color: var(--color-white-off);
  background: linear-gradient(0deg, var(--color-primary), var(--color-alert) 100%);
  box-shadow: 0 0.3em .5em -0.2em var(--color-primary);
  transition: scale 0.1s linear, color 0.1s linear;

  &:hover {
    --text-color: var(--color-white);
  }
}


.secondary-button {
  border: 1px solid var(--color-primary);

  &:hover {
    --text-color: var(--color-alert);
    border-color: var(--color-alert);
  }
}
